body{ 
    font-family: 'Yellowtail', cursive;
}
img {
    display: flex;
    transition: 0.5s;
    border: pink 2px solid;
    border-radius: 30px;
 
}
img:hover{
    box-shadow: 0 0 30px rgb(173, 123, 173) , 0 0 50px rgb(173, 123, 173) , 0 0 30px rgb(173, 123, 173)  ;
}
.container {
    background-color: rgb(137, 80, 137);
}

.box {
    background-color: pink;
    width: 650px;
    height: 100px;
    position: relative;
}
.box {
    background-color: pink;
    width: 650px;
    height: 100px;
    position: relative;
     animation-name: harry1; 
    animation-name: harry2;
    animation-duration: 8s;
    animation-iteration-count: 1;
}
@keyframes harry1 {
    from {
        width: 200px;
    }

    to {
        width: 1400px;
        animation-fill-mode: forward;
        animation-delay: 1.5s;
        animation-direction: reverse;
        
    }
}
@keyframes harry2 {
    0%{
        top:0px;
        left:0px;
    }
    100%{
        top: 0px;
        left: 250px;
    }
    
}
